# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# amplify (no longer used but just in case)
amplify_outputs.json
